#container {
    width : 1050px;
    /* border : 1px solid grey; */
    margin: 0 auto;
}

#header{
    height:100px;
    padding:10px 0;
}
#brand {
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

#searchBox {
    float: right;
    background:linear-gradient(#E4f2b9, #b7e953);
    width:400px;
    height:50px;
    padding:20px 20px 0 20px;
    margin-top: 20px;

}

.text {
    float:left;
    width:200px;
    padding:5px;
    font-size:15px;
    color:#e36a0c;
    background: white url(logomkr.png) right center no-repeat;
}

.submit {
    float:right;
    padding:5px;
    font-weight:bold;
    color:white;
    background: #a751d6;
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#f8f594, #d5d533);
    padding: 7px 0;
}

ul {
    list-style:none;

}
#menu ul li {
    float:left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
    border-right: none;
}
#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color:#5d12e7;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: 20px;
    font-weight: bold;
    color:#c34fdb;
}

#introduction {
    background: linear-gradient(#e5f2bb, #b7e952);
    padding : 30px;
    margin: 16px 0;

}

#introduction h3 {
    font-size:45px;
    color: #316901;
    font-weight:normal;
}

#introduction p {
    font-size: 25px;
    color:#789450;
    text-align: justify;
}

.sidebar {
    height: 500px;
    width: 450px;
    border : 1px solid #baf46f;
    border-radius: 20px;
    padding: 10px 20px;
}

.sidebar h3 {
    color: #b314db;
    font-size: 30px;
}
#leftsidebar ul {
    padding-top:8px;
}
#leftsidebar ul li {
    padding-bottom:6px;
    
    
}
ul {
    list-style: none;
}

li {
    position: relative;
}
#leftsidebar ul li:before {
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -.75em;
    width: .4em; /* desired width of the image */
    height: 1em;
    background-image: url(arrowToRight.png);
    background-repeat: no-repeat;
    background-size: .4em .7em;
    background-position: 0 .3em;
}

#rightsidebar ul li {
    
    background: url(tick_green.png) no-repeat left center;
   
    padding: 17px 0 20px 70px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color:#b314db;
    font-size:23px;
    font-weight:bold;
}


#leftsidebar {
    float: left;
}

#rightsidebar {
    float : right;
}